bin
build
out
.gradle
.idea
*.iml
.vscode
.DS_Store
*.hprof
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.local
# generated antlr files
src/main/java/io/github/cfraser/graphguard/Schema*
# derivative doc files
docs/index.md
docs/api
# devcontainer runtime metadata
.devcontainer/*
!.devcontainer/devcontainer.json
!.devcontainer/exec.sh
# built web assets
app/src/main/resources/web
