bin
build
out
*.out
.gradle
.idea
*.iml
.vscode
.DS_Store
*.hprof
*.log
# derivative doc files
docs/index.md
docs/api
docs/cli/*
!docs/cli/demo.cast
# runtime metadata
graph-guard-cli/neo4j.cid
# generated antlr files
graph-guard-schema/src/main/java
