bin
build
out
.gradle
.idea
*.iml
.vscode
.DS_Store
*.hprof
*.log
# generated antlr files
src/main/java/io/github/cfraser/graphguard/Schema*
# derivative doc files
docs/index.md
docs/api
# devcontainer runtime metadata
.devcontainer/*
!.devcontainer/devcontainer.json
!.devcontainer/exec.sh
